{
  "Renamer": {
    "finalDir": "/data/Movies",
    "tempDir": "/data/temp"
  },
  "Webserver": {
    "port": "8998",
    "uiDir": "/opt/Cineaste/webui"
  },
  "Database": {
    "location": "/opt/Cineaste/cineaste.db"
  },
  "Indexer": [
    {
      "url": "https://nzbgeek.info",
      "api": "jgsslidgho3tsdst"
    },
    {
      "url": "https://6box.me",
      "api": "sndjslighsidghsdg"
    },
    {
      "url": "btn.net",
      "username": "user",
      "password": "pass"
    }
  ],
  "Downloader": [
    {
      "name": "nzbget",
      "host": "127.0.0.1",
      "port": "6789",
      "user": "nzbget",
      "pass": "nzbget"
    },
    {
      "name": "transmission",
      "host": "127.0.0.1",
      "port": "9091",
      "user": "transmission",
      "pass": "transmission"
    }
  ]
}